{:deps     true
 :builds   {:app {:modules    {:main {:entries [claudion.core]}}
                  :devtools   {:http-root "public/assets/app"
                               :http-port 8080}
                  :output-dir "public/assets/app/js"
                  :asset-path "/assets/app/js"
                  :target     :browser}}}
